.fretboard {
    border: 1px solid black;
    width: 52em;
}

.fretboard td, .fretboard th {
    width: 4em;
}

.fretboard .nut {
    border-right: 2px solid black;
}

.fretboard td {
    border-right: 1px solid gray;
    text-align: center;
}

.fretboard td.active, .fretboard th.active {
    color: red;
}

.fretboard td.passive, .fretboard th.passive {
    color: grey;
}